<div id="filters" class="row">
  <div  class="col-xs-12">
    <button id="show-all" type="button" class="btn btn-success" name="sdf">All ideas</button>
    <button id="sort-by-quality" type="button" class="btn btn-success descending" name="button">Sort by Quality</button>
    <fieldset class="form-group">
      <input type="text" class="form-control" id="fuzzy-filter" placeholder="Search...">
    </fieldset>
    <span id="tag-list" class=""> </span>
  </div>
</div>
