<div id="idea-form" class="row card">
  <form class="card-block">
    <div class="row">
      <div class="col-xs-6">
        <div class="row">
          <fieldset class="form-group">
            <div class="col-xs-1">
              <label for="idea-title">Title</label>
            </div>
            <div class="col-xs-11">
              <input type="text" class="form-control" id="idea-title" placeholder="Idea's title">
              <small class="text-muted">New ideas will be initially qualified as 'swill'.</small>
            </div>
          </fieldset>
        </div>
        <div class="row">
          <fieldset class="form-group">
            <div class="col-xs-1">
              <label for="idea-tags">Tags</label>
            </div>
            <div class="col-xs-11">
              <input type="text" class="form-control" id="idea-tags" placeholder="app, tutorial, business">
              <small class="text-muted">Enter tags separated by commas.</small>
            </div>
          </fieldset>
        </div>
      </div>
      <div class="col-xs-6">
        <fieldset class="form-group">
          <textarea class="form-control" id="idea-body" rows="5" placeholder="Idea's description..."></textarea>
        </fieldset>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h3 id="idea-validator" class="text-xs-center">Ideas need to have a title and a description</h3>
        <button id="save-idea" type="submit" class="btn btn-primary btn-block">Save idea</button>
      </div>
    </div>
  </form>
</div>
