<!-- <div id="idea-form" class="container card">
  <form>
    <div class="row">
      <div class="col-xs-6">
        <div class="row">
          <fieldset class="form-group">
            <div class="col-xs-1">
              <label for="idea-title">Title</label>
            </div>
            <div class="col-xs-11">
              <input type="text" class="form-control" id="idea-title" placeholder="Enter title">
              <small class="text-muted">New ideas will be initially qualified as 'swill'.</small>
            </div>
          </fieldset>
        </div>
        <div class="row">
          <fieldset class="form-group">
            <div class="col-xs-1">
              <label for="idea-tags">Tags</label>
            </div>
            <div class="col-xs-11">
              <input type="text" class="form-control" id="idea-tags" placeholder="app, tutorial, business">
              <small class="text-muted">Enter tags separated by commas.</small>
            </div>
          </fieldset>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="row">
          <fieldset class="form-group">
            <div class="col-xs-1">
              <label for="idea-body">Body</label>

            </div>
            <div class="col-xs-11">
              <textarea class="form-control" id="idea-body" rows="5" placeholder="Enter body"></textarea>

            </div>
          </fieldset>
        </div>
      </div>
    </div>
    <button id="save-idea" type="submit" class="btn btn-primary btn-block">Save idea</button>
  </form>
</div> -->
<!-- <div id="idea-form" class="container card">
  <form>
    <div class="row">
      <div class="col-xs-6">
        <fieldset class="form-group">
          <label for="idea-title">Title</label>
          <input type="text" class="form-control" id="idea-title" placeholder="Enter title">
          <small class="text-muted">New ideas will be initially qualified as 'swill'.</small>
        </fieldset>
      </div>
      <div class="col-xs-6">
        <fieldset class="form-group">
          <label for="idea-tags">Tags</label>
          <input type="text" class="form-control" id="idea-tags" placeholder="app, tutorial, business">
          <small class="text-muted">Enter tags separated by commas.</small>
        </fieldset>
      </div>
    </div>
    <fieldset class="form-group">
      <label for="idea-body">Body</label>
      <textarea class="form-control" id="idea-body" rows="3" placeholder="Enter body"></textarea>
    </fieldset>
    <button id="save-idea" type="submit" class="btn btn-primary btn-block">Save idea</button>
  </form>
</div> -->
<div id="idea-form" class="container card">
  <div class="card-block">
    <form>
      <div class="row">
        <div class="col-xs-6">
          <div class="row">
            <fieldset class="form-group">
              <div class="col-xs-1">
                <label for="idea-title">Title</label>
              </div>
              <div class="col-xs-11">
                <input type="text" class="form-control" id="idea-title" placeholder="Idea's title">
                <small class="text-muted">New ideas will be initially qualified as 'swill'.</small>
              </div>
            </fieldset>
          </div>
          <div class="row">
            <fieldset class="form-group">
              <div class="col-xs-1">
                <label for="idea-tags">Tags</label>
              </div>
              <div class="col-xs-11">
                <input type="text" class="form-control" id="idea-tags" placeholder="app, tutorial, business">
                <small class="text-muted">Enter tags separated by commas.</small>
              </div>
            </fieldset>
          </div>
        </div>
        <div class="col-xs-6">
          <fieldset class="form-group">
            <!-- <label for="idea-body">Body</label> -->
            <textarea class="form-control" id="idea-body" rows="5" placeholder="Idea's description..."></textarea>
          </fieldset>
        </div>
      </div>
      <button id="save-idea" type="submit" class="btn btn-primary btn-block">Save idea</button>
    </form>
  </div>
</div>
<!-- <div id="idea-form" class="container card">
  <form>
    <div class="row">
      <div class="col-xs-6">
        <fieldset class="form-group">
          <label for="idea-title">Title</label>
          <input type="text" class="form-control" id="idea-title" placeholder="Enter title">
          <small class="text-muted">New ideas will be initially qualified as 'swill'.</small>
        </fieldset>
      </div>
      <div class="col-xs-6">
        <fieldset class="form-group">
          <label for="idea-tags">Tags</label>
          <input type="text" class="form-control" id="idea-tags" placeholder="app, tutorial, business">
          <small class="text-muted">Enter tags separated by commas.</small>
        </fieldset>
      </div>
    </div>
    <fieldset class="form-group">
      <label for="idea-body">Body</label>
      <textarea class="form-control" id="idea-body" rows="3" placeholder="Enter body"></textarea>
    </fieldset>
    <button id="save-idea" type="submit" class="btn btn-primary btn-block">Save idea</button>
  </form>
</div> -->
