<li id="obby" data-id="7" class="idea list-group-item">
  <div class="row">
    <div class="col-xs-3">
      <h1>algo</h1>
    </div>
    <div class="col-xs-6">
      <img src="" src="<%= asset_path('thumbs_up')  %>" />
    </div>
    <div class="col-xs-3">
      <button type="button" name="button" class=" deleter btn btn-danger btn-sm pull-xs-right">Upvote</button>
      <button type="button" name="button" class=" deleter btn btn-danger btn-sm pull-xs-right">Downvote</button>
      <button type="button" name="button" class=" deleter btn btn-danger btn-sm pull-xs-right">Edit</button>
      <button type="button" name="button" class=" deleter btn btn-danger btn-sm pull-xs-right">Delete</button>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-5">
      <p>the lests the lests the lests the lests the lests the lests the lests the lests the lests the lests... </p>
    </div>
    <div class="col-xs-7">
      <span class="label label-success label-pill">Amazing</span>
      <span class="label label-success label-pill">ob</span>
      <span class="label label-success label-pill">black</span>
      <span class="label label-success label-pill">Amazitraasng</span>
      <span class="label label-success label-pill">Amazing</span>
      <span class="label label-success label-pill">ob</span>
      <span class="label label-success label-pill">black</span>
      <span class="label label-success label-pill">Amazitraasng</span>
      <span class="label label-success label-pill">Amazing</span>
      <span class="label label-success label-pill">ob</span>
      <span class="label label-success label-pill">black</span>
      <span class="label label-success label-pill">Amazitraasng</span>
      <span class="label label-success label-pill">Amazing</span>
      <span class="label label-success label-pill">ob</span>
      <span class="label label-success label-pill">black</span>
      <span class="label label-success label-pill">Amazitraasng</span>
      <span class="label label-success label-pill">Amazing</span>
      <span class="label label-success label-pill">ob</span>
      <span class="label label-success label-pill">black</span>
      <span class="label label-success label-pill">Amazitraasng</span>
    </div>
  </div>
</li>
<li id="obby" data-id="7" class="list-group-item">Bobye<span class="label label-success label-pill pull-xs-right">Amazing</span><button type="button" name="button" class=" deleter btn btn-danger btn-sm pull-xs-right">Delete</button></li>
