<div id="idea-form" class="container">
  <h3 class="display-3 text-xs-center">New Ideas</h3>
  <form>
    <fieldset class="form-group">
      <label for="idea-title">Title</label>
      <input type="text" class="form-control" id="idea-title" placeholder="Enter title">
      <small class="text-muted">New ideas will be initially qualified as 'swill'.</small>
    </fieldset>
    <fieldset class="form-group">
      <label for="idea-body">Body</label>
      <textarea class="form-control" id="idea-body" rows="4" placeholder="Enter body"></textarea>
    </fieldset>
    <fieldset class="form-group">
      <label for="idea-tags">Tags</label>
      <input type="text" class="form-control" id="idea-tags" placeholder="app, tutorial, business">
      <small class="text-muted">Enter tags separated by commas.</small>
    </fieldset>
    <button id="save-idea" type="submit" class="btn btn-primary">Save idea</button>
  </form>
</div>
