<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="display-1 text-xs-center">Ideabox</h1>
    </div>
  </div>
  <div class="row">
    <div id="filters" class="col-xs-12">
      <button id="show-all" type="button" class="btn btn-success" name="sdf">All ideas</button>
      <button id="sort-by-quality" data-order="asc" type="button" class="btn btn-success" name="button">Sort by Quality</button>
      <fieldset class="form-group">
        <input type="text" class="form-control" id="fuzzy-filter" placeholder="Search...">
      </fieldset>
      <span id="tag-list" class=""> </span>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-12">
      <ul id="idea-box" class="list-group">
        <li id="obby" data-id="7" class="idea list-group-item">
          <div class="row">
            <div class="col-xs-3">
              <h1>algo</h1>
            </div>
            <div class="col-xs-6">
              <img src="" src="<%= asset_path('thumbs_up')  %>" />
            </div>
            <div class="col-xs-3">
              <button type="button" name="button" class=" deleter btn btn-danger btn-sm pull-xs-right">Upvote</button>
              <button type="button" name="button" class=" deleter btn btn-danger btn-sm pull-xs-right">Downvote</button>
              <button type="button" name="button" class=" deleter btn btn-danger btn-sm pull-xs-right">Edit</button>
              <button type="button" name="button" class=" deleter btn btn-danger btn-sm pull-xs-right">Delete</button>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-5">
              <p>the lests the lests the lests the lests the lests the lests the lests the lests the lests the lests... </p>
            </div>
            <div class="col-xs-7">
              <span class="label label-success label-pill">Amazing</span>
              <span class="label label-success label-pill">ob</span>
              <span class="label label-success label-pill">black</span>
              <span class="label label-success label-pill">Amazitraasng</span>
              <span class="label label-success label-pill">Amazing</span>
              <span class="label label-success label-pill">ob</span>
              <span class="label label-success label-pill">black</span>
              <span class="label label-success label-pill">Amazitraasng</span>
              <span class="label label-success label-pill">Amazing</span>
              <span class="label label-success label-pill">ob</span>
              <span class="label label-success label-pill">black</span>
              <span class="label label-success label-pill">Amazitraasng</span>
              <span class="label label-success label-pill">Amazing</span>
              <span class="label label-success label-pill">ob</span>
              <span class="label label-success label-pill">black</span>
              <span class="label label-success label-pill">Amazitraasng</span>
              <span class="label label-success label-pill">Amazing</span>
              <span class="label label-success label-pill">ob</span>
              <span class="label label-success label-pill">black</span>
              <span class="label label-success label-pill">Amazitraasng</span>
            </div>
          </div>
        </li>
        <li id="obby" data-id="7" class="list-group-item">Bobye<span class="label label-success label-pill pull-xs-right">Amazing</span><button type="button" name="button" class=" deleter btn btn-danger btn-sm pull-xs-right">Delete</button></li>
      </ul>
    </div>
  </div>
</div>
<!-- <div class="container">
  <ul id="idea-box" class="list-group">
    <li id="obby" data-id="7" class="list-group-item">Bobye<span class="label label-success label-pill pull-xs-right">Amazing</span><button type="button" name="button" class=" deleter btn btn-danger btn-sm pull-xs-right">Delete</button></li>
  </ul>
  <ul id="idea2-box" class="list-group">
    <li class="list-group-item"><span>Bobye</span>: <span>main body</span><span class="label label-success label-pill pull-xs-right">Amazing</span></li>
    <div class="container">
      <form>
        <fieldset class="form-group">
          <label for="idea-title">Title</label>
          <input type="text" class="form-control" id="idea-title" placeholder="Enter title">
          <small class="text-muted">New ideas will be initially qualified as 'swill'.</small>
        </fieldset>
        <fieldset class="form-group">
          <label for="idea-body">Body</label>
          <textarea class="form-control" id="idea-body" rows="4"></textarea>
        </fieldset>
        <button id="save-idea" type="submit" class="btn btn-primary">Save idea</button>
      </form>
    </div>
    <li id="obby" data-id="7" class="list-group-item">Bobysgage<span class="label label-success label-pill pull-xs-right">Amazing</span><button type="button" name="button" class=" deleter btn btn-danger btn-sm pull-xs-right">Delete</button></li>
    <li id="obby" data-id="7" class="list-group-item">Boasgasgbye<span class="label label-success label-pill pull-xs-right">Amazing</span><button type="button" name="button" class=" deleter btn btn-danger btn-sm pull-xs-right">Delete</button></li>
  </ul>
</div> -->
<br>
<div class="container">
  <h3 class="display-3 text-xs-center">New Ideas</h3>
  <form>
    <fieldset class="form-group">
      <label for="idea-title">Title</label>
      <input type="text" class="form-control" id="idea-title" placeholder="Enter title">
      <small class="text-muted">New ideas will be initially qualified as 'swill'.</small>
    </fieldset>
    <fieldset class="form-group">
      <label for="idea-body">Body</label>
      <textarea class="form-control" id="idea-body" rows="4" placeholder="Enter body"></textarea>
    </fieldset>
    <fieldset class="form-group">
      <label for="idea-tags">Tags</label>
      <input type="text" class="form-control" id="idea-tags" placeholder="app, tutorial, business">
      <!-- <input type="text" class="form-control" id="idea-tags" placeholder="app, tutorial, business" value="app, tutorial"> -->
      <small class="text-muted">Enter tags separated by commas.</small>
    </fieldset>
    <button id="save-idea" type="submit" class="btn btn-primary">Save idea</button>
  </form>
  <br>
  <br>
  <br>
  <br>
</div>
