<div class="container">
  <h1 class="display-1 text-xs-center">Ideabox</h1>
</div>
<div class="container">
  <ul id="idea-box" class="list-group"> </ul>
</div>
<br>
<div class="container">
  <h3 class="display-3 text-xs-center">New Ideas</h3>
  <form class="">
    <fieldset class="form-group">
      <label for="idea-title">Title</label>
      <input type="text" class="form-control" id="idea-title" placeholder="Enter title">
      <small class="text-muted">New ideas will be initially qualified as 'swill'.</small>
    </fieldset>
    <fieldset class="form-group">
      <label for="idea-body">Body</label>
      <textarea class="form-control" id="idea-body" rows="4"></textarea>
    </fieldset>
  </form>
  <button id="save-idea" type="submit" class="btn btn-primary">Save idea</button>
</div>
