.ui {
  margin: 0.2em;
}

#megatronX {
  display: block;
// -moz-box-sizing: border-box;
// box-sizing: border-box;
height: 200px; /* Height of new image */
padding-left: 180px; /* Equal to width of new image */
  // background-color: green;
  background: url('thumbs_up') no-repeat;
  // width: 130px;
}
